header {
    background: #DCE0E6;
    padding: 20px 0;
}
    
#logo {
    height: 250px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #1F1F20;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
}

nav a:hover{
    color: #567EBB;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    border: 2px solid #2B4C7E;
    border-radius: 20px;
}

.produtos li:hover {
    border: 3px solid #567EBB;
    border-radius: 40px;
}

.produtos li:hover h2 {
    font-size: 34px;     
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.produtos-descricao {
    margin-top: 15px;
    font-size: 18px;
}

.letras-pequenas {
    font-size: 12px;
    color: #606D80;
    margin-top: 8px;
}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.imagens-produtos {
    width: 200px;
}

footer {
    text-align: center;
    background: url("bg.png");
}

.rodape {
    padding: 20px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 15px 0 0;
}

.logo-white {
    height: 200px;
}

